<button class="btn btn-primary mb-4" (click)="open(direccionModal)">Nuevo</button>
  <br>
  <!—Ventana Modal -->
    <ng-template #direccionModal let-modal>
      <form [formGroup]="direccionForm" (ngSubmit)="saveDireccion()">
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Direccion</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
          <div class="form-group">
            <label for="">Direccion</label>
            <input type="text" name="direcion	" formControlName="direcion	" class="form-control"
              placeholder="Ingrese nombre de la direccion">
              <span class="text-danger" *ngIf="
              (f['direcion'].dirty || f['direcion'].touched) &&
              f['direcion'].errors
            ">
            <div [ngSwitch]="f['direcion'].value">
              <div *ngSwitchCase="''">La direccion es Requerida</div>
              <div *ngSwitchDefault="''">
                La direccion del producto debe tener maximo 100 caracteres
              </div>
            </div>
          </span>
          </div>
          <div class="form-group">
            <label for="">Calle</label>
            <input type="text" name="calle	" formControlName="calle	" class="form-control"
              placeholder="Ingrese calle ">
              <span class="text-danger" *ngIf="
              (f['calle'].dirty || f['calle'].touched) &&
              f['calle'].errors
            ">
            <div [ngSwitch]="f['calle'].value">
              <div *ngSwitchCase="''">El nombre de calle es Requerida</div>
              <div *ngSwitchDefault="''">
                El nombre de la  calle  debe tener maximo 100 caracteres
              </div>
            </div>
          </span>
          </div>
          <div class="form-group">
            <label for="">Numero</label>
            <input type="text" name="numero	" formControlName="numero	" class="form-control"
              placeholder="Ingrese numero de la direccion">
              <span class="text-danger" *ngIf="
              (f['numero'].dirty || f['numero'].touched) &&
              f['numero'].errors
            ">
            <div [ngSwitch]="f['numero'].value">
              <div *ngSwitchCase="''">El número de la dirección es Requerido</div>
              <div *ngSwitchDefault="''">
                El número de la direccióndebe tener maximo 100 caracteres
              </div>
            </div>
          </span>
          </div>
          <div class="form-group">
            <label for="">Piso</label>
            <input type="text" name="piso	" formControlName="piso	" class="form-control"
              placeholder="Ingrese número de piso ">
              <span class="text-danger" *ngIf="
              (f['piso'].dirty || f['piso'].touched) &&
              f['piso'].errors
            ">
            <div [ngSwitch]="f['piso'].value">
              <div *ngSwitchCase="''">El número de piso es Requerido</div>
              <div *ngSwitchDefault="''">
                El número de piso debe tener maximo 100 caracteres
              </div>
            </div>
          </span>
          </div>
          <div class="form-group">
            <label for="">Telefono</label>
            <input type="text" name="telefono	" formControlName="telefono	" class="form-control"
              placeholder="Ingrese telefono de la direccion">
              <span class="text-danger" *ngIf="
              (f['telefono'].dirty || f['telefono'].touched) &&
              f['telefono'].errors
            ">
            <div [ngSwitch]="f['telefono'].value">
              <div *ngSwitchCase="''">El telefono de la direcion es Requerido</div>
              <div *ngSwitchDefault="''">
                El telefono de la direcion debe tener maximo 100 caracteres
              </div>
            </div>
          </span>
          </div>
          <div class="form-group">
            <label for="">Movil</label>
            <input type="text" name="movil	" formControlName="movil	" class="form-control"
              placeholder="Ingrese numero de movil">
              <span class="text-danger" *ngIf="
              (f['movil'].dirty || f['movil'].touched) &&
              f['movil'].errors
            ">
            <div [ngSwitch]="f['movil'].value">
              <div *ngSwitchCase="''">El número de movil es Requerido</div>
              <div *ngSwitchDefault="''">
                El número de movil debe tener maximo 100 caracteres
              </div>
            </div>
          </span>
          </div>
          <div class="form-group">
            <label for="">Cuidad</label>
            <select name="ciudad" id="" formControlName="id_ciudad" class="form-control" >
              <option  *ngFor="let ciudad of ciudades" value="{{ciudad.id_ciudad}}">{{ciudad.nombre_ciudad}}</option>
            </select>
          </div>
          <div class="form-group">
            <label for="">Estado</label>
            <select name="direccion" id="" formControlName="estado_direccion" class="form-control" >
              <option value="A">Activo</option>
              <option value="P">Pendiente</option>
              <option value="I">Inactivo</option>
            </select>
            <span class="text-danger" *ngIf="
            (f['estado_direccion'].dirty || f['estado_direccion'].touched) &&
            f['estado_direccion'].errors
          ">
          <div [ngSwitch]="f['estado_direccion'].value">
            <div *ngSwitchCase="''">El estado de la direccion es Requerido</div>
            <div *ngSwitchDefault="''">
              El estado de la direccion debe tener maximo 100 caracteres
            </div>
          </div>
        </span>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn  btn-primary" (click)="modal.close('Save click')">Cerrar</button>
        <button type="submit" class="btn  btn-primary">Guardar</button>
      </div>
    </form>
    </ng-template>
    <!--Cierre Ventana Modal  -->
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Direccion</th>
          <th scope="col">Calle</th>
          <th scope="col">Numero</th>
          <th scope="col">Piso</th>
          <th scope="col">Telefono</th>
          <th scope="col">Movil</th>
          <th scope="col">Estado</th>
          <th scope="col">Opciones</th>
        </tr>
      </thead>
      <tbody>
        <!-- Recorre arreglo de aportes almacenándola en variable  producto desde productos -->
        <tr *ngFor="let direccion of direcciones">
          <td>{{direccion.direcion}}</td>
          <td>{{direccion.calle}}</td>
          <td>{{direccion.numero}}</td>
          <td>{{direccion.piso}}</td>
          <td>{{direccion.telefono}}</td>
          <td>{{direccion.movil}}</td>
          <td>
            <div *ngIf="direccion.estado_direccion=='I'" class="badge badge-danger">Inactivo</div>
            <div *ngIf="direccion.estado_direccion=='P'" class="badge badge-warning">Pendiente</div>
            <div *ngIf="direccion.estado_direccion=='A'"class="badge badge-success">Activo</div>
          </td>
          <td>
            <!-- Envia datos de determinado producto desde arreglo a NgModel de producto -->
            <button class="btn btn-warning" (click)="editDireccion(direccion)"><i class="fa fa-edit"></i></button>
            &nbsp;
            <!-- Elimina producto obteniendo id desde arreglo a NgModel de producto -->
            <button class="btn btn-danger" (click)="borrarDireccion(direccion.id_direccion)"><i
                class="fa fa-trash-alt"></i></button>
          </td>
        </tr>
      </tbody>
    </table>


